.footer-container {
  width: 100%;
  height: max-content;
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: Poppins;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
  padding: 2rem 0;
  flex-wrap: wrap;
}

.footer-element {
  font-size: 1.1rem;
  margin: 0 0.5rem;
}

.footer-element ul {
  font-size: 0.8rem;
}

.footer-element img {
  width: 2rem;
  border-radius: 0.5rem;
}

.flex-end {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 6.75rem;
}
