.container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
}

.container.notFound {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--slate950);
  color: var(--neutral50);
  text-align: center;
}

.container.addPoll {
  margin-top: var(--header-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  overflow-y: auto;
  padding: 0 0 1rem 0;
  background-color: var(--slate900);
  color: var(--neutral50);
}

.container.onboardingCon,
.container.enteringCon {
  background-color: var(--slate950);
}

.container.enteringCon {
  display: flex;
}

.container.content,
.container.votingPage {
  width: auto;
  height: calc(100% - var(--header-height));
  display: flex;
  flex-direction: column;
  margin-top: var(--header-height);
  margin-left: var(--sidebar-width);
  padding: 1rem;
}

.container.content {
  gap: 2rem;
  background-color: var(--slate900);
}

.container.votingPage {
  gap: 1.5rem;
  background-color: var(--slate900);
}

@media screen and (max-width: 768px) {

  .container.content,
  .container.votingPage {
    margin-left: 0;
    padding-bottom: 6rem;
  }
}