.light-mode {
  --slate950: #e5e7eb;
  --slate900: #d4d4d4;
  --gray200: #1e293b;
  --neutral50: #020617;
  --neutral50-lo: #0206172a;
}

.dark-mode {
  --slate950: #020617;
  --slate900: #0f172a;
  --gray200: #e5e7eb;
  --neutral50: #fafafa;
  --neutral50-lo: #fafafa2a;
}

.theme-switcher-wrapper {
  display: flex;
  align-items: center;
  gap: .5rem;
  border-radius: .5rem;
  background-color: var(--gray400);
}

.app-theme-icon-wrapper {
  display: flex;
  align-items: center;
  border-radius: .5rem;
  padding: .15rem;
  transition: background-color 0.2s;
}

.app-theme-icon-wrapper svg {
  color: var(--slate950);
}

.app-theme-icon-wrapper.active {
  background-color: var(--rose700);
}