.poll-title {
  color: var(--slate950);
}

.poll-overview {
  gap: 0.5rem;
}

.poll-metadatas {
  gap: 1rem;
}

.poll-metadata {
  gap: 0.25rem;
  font-size: .9rem;
  font-weight: 700;
}

.poll-title h1 {
  color: var(--neutral50);
  word-break: break;
}

.poll-choices {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 1rem;
}

.poll-choice {
  position: relative;
  height: 3.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: .6rem;
  background-color: var(--gray200);
}

.poll-choice span {
  display: none;
}

.poll-choice.selected span {
  display: block;
  position: absolute;
  right: 0.5rem;
  background-color: var(--neutral50);
  color: var(--slate950);
  border-radius: 50%;
  user-select: none;
  z-index: 2;
}

.poll-progress {
  width: 0%;
  height: 100%;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  gap: .75rem;
  background-color: var(--slate950);
}

.poll-progress p {
  max-width: 6rem;
  mix-blend-mode: difference;
}

.poll-percentage {
  margin-left: 1rem;
  font-size: .8rem;
  color: var(--gray400);
}

.poll-choice-name {
  color: white;
}

.poll-percentage,
.poll-choice-name {
  pointer-events: none;
}

.poll-user-actions {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  color: var(--neutral50);
}

.poll-user-actions button {
  display: flex;
  align-items: center;
  gap: .25rem;
  font-weight: 700;
}

.poll-owner {
  display: flex;
  align-items: center;
  gap: .5rem;
  color: var(--neutral50);
}

.poll-owner-pfp {
  width: 2.5rem;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.poll-owner img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

.poll-categories {
  display: flex;
  gap: 0.75rem;
}

.poll-category {
  padding: .5rem 0.75rem;
  border: 2px solid;
  font-weight: 700;
  border-radius: 0.5rem;
}

.poll-category.green {
  border-color: var(--green800);
  color: var(--green800);
}

.poll-category.blue {
  border-color: var(--blue700);
  color: var(--blue700);
}

.poll-category.violet {
  border-color: var(--violet600);
  color: var(--violet600);
}

.poll-category.orange {
  border-color: var(--orange600);
  color: var(--orange600);
}

.poll-actions {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  color: var(--neutral50);
}

.poll-ux-actions {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: .5rem;
  color: var(--neutral50);
}

.poll-ux-actions button {
  padding: 0;
}

.poll-copy-wrapper {
  width: 100%;
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: .5rem;
  border: 2px solid var(--neutral50);
  border-radius: .5rem;
  font-weight: 700;
}

.poll-copy-btn {
  display: flex;
  align-items: center;
  gap: .25rem;
  font-weight: 700;
  padding: 0;
}

.poll-copy-btn span {
  font-weight: 700;
}